/*Definindo configurações básicas da página*/
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*Configurando/estilizando tags semânticas*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(114, 46, 0);
}

div.header-fill{
    width: 100%;
    height: 15%;
    float: left;
}

main{
    width: 100%;
    height: 75%;
    float: left;
    background-color: rgb(255, 231, 94);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 10%;
    float: left;
    background-color: black;
}

/*Configurações/estilização de outras tags e elementos*/
center.pageTitle{
    /*Posicionando no meio do header*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

font.pageTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

/******************************************************
Configurações do rodapé
******************************************************/
.footer-block{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.footer-side{
    width: 25%;
    height: 100%;
    justify-content: center;
}

div.footer-center{
    width: 50%;
    height: 100%;
    position: relative;
}

font.footer-center{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: white;
}

.footer-center .left{
    position: absolute;
    left: 0;
    margin-left: 35%;
}

.footer-center .right{
    position: absolute;
    right: 0;
    margin-right: 10%;
}

/*reaproveitado da internet: https://www.codigofonte.com.br/codigos/menu-horizontal-simples
- Algumas mudanças foram feitas*/
ul.footer-ul{
	float: left;
	width: 100%;
	list-style:none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li.footer-li{
    display: inline;
}

ul.footer-ul li a{
	color: white;
	text-decoration: none;
	padding: 2px 25px;
	float:left;
}

ul.footer-ul li a:hover{
    background-color:rgba(255, 255, 255, 0.8);
}

/******************************************************
Configurações do formulário e seus elementos principal
******************************************************/
div.formArea{
    width: 30%;
    height: 40%;
}

form.mainForm{
    width: 100%;
    height: 100%;
}

fieldset.mainForm{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgb(114, 46, 0);
    border-width: 3px;
    background-color: white;
}

legend.question{
    /*Configurações da fonte*/
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    /*Configuraações do layout*/
    display: block;
    border-style: solid;
    border-color: rgb(114, 46, 0);
    border-width: 3px;
    background-color: white;
}

label.options{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

input[type=submit]{
    /*Configurações do layout do botão*/
    width: 65px;
    height: 32px;
    background-color: rgb(0, 110, 255);
    /*Configurações da fonte*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    /*Demais configurações*/
    margin-top: 10px;
}

input[type=submit]:hover{
    cursor: pointer;
    transform: scale(0.95);
}

input[type=submit]:active{
    transform: scale(0.9);
}

/******************************************************
Configurações do área do jogo
******************************************************/
div.gameArea{
    width: 33%;
    height: 70%;
    background-color: white;
}

div.title_gameAsk{
    width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
}

font.gameTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

div.content_gameAsk{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
}

div.gameAsk{
    width: 92%;
    height: 100%;
}

p.gameAsk{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

div.input_gameAsk{
    width: 100%;
    height: 10%;
    float: left;
}

input.input_gameAnswer{
    width: 75%;
    height: 100%;
    width: calc(75% - 20px);
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: black;
    background-color: rgb(189, 189, 189);
    float: left;
}

input::placeholder{
    color: #333;
}

button.submit_gameAnswer{
    cursor: pointer;
    width: 25%;
    height: 100%;
    border: 0;
    background-color: rgb(0, 110, 255);
    font-family: Arial Black;
    font-size: 25px;
    color: white;
    float: left;
}

button.submit_gameAnswer:hover{
    background-color: rgb(0, 90, 207);
    font-size: 30px;
}

/*==== Caixa de alerta para a resposta ====*/
/*Reaproveitado de outro projeto meu - Thiago Santos*/
/*Algumas adições, remoções e adaptações foram feitas*/
font.modal-title{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
	color: limegreen;
}

font.modal-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
	color: green;
}

.modal-content{
	width: 100%;
	height:100%;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2000;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal{
	background-color: white;
	width: 40%;
	min-width: 100px;
	padding: 40px;
	border-style: solid;
	border-color: limegreen;
	border-width: 10px;
	position: relative;
}

button.close{
    cursor: pointer;
	border: 4px solid white;
	border-radius: 50%;
	font-weight: bold;
	font-size: medium;
	position: absolute;
	right: -14px;
	top: -14px;
	cursor: pointer;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3)
}

button.close:hover{
	transform: scale(1.2);
}

button.close:active{
	transform: scale(0.8);
}

.modal{
	animation: modal 2s;
}

button.correctAnswer{
    cursor: pointer;
    width: 300px;
    height: 50px;
    line-height: 50px;
    border: none;
    background-color: blue;
    justify-content: center;
    display: none;
}

button.correctAnswer:hover{
    transform: scale(1.1);
}

button.correctAnswer:active{
    transform: scale(0.9);
}

a.button_correctAnswer{
    color: white;
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/******************************************************************
Configurações do área de páginas com grandes textos de informações
******************************************************************/
div.informationArea{
    width: 45%;
    height: 90%;
    background-color: white;
}

div.information-textBlock{
    width: 90%;
    height: 97%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

div.hide-iframeScrollBar{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe.information-row{
    display: block;
    border: none;
    width: calc(100% + 17px);
    height: 100%;
}