/*Definindo configurações básicas da página*/
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*Configurando/estilizando tags semânticas*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(0, 81, 187);
}

div.header-fill{
    width: 100%;
    height: 15%;
    float: left;
}

main{
    width: 100%;
    height: 75%;
    float: left;
    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 10%;
    float: left;
    background-color: black;
}

/*Configurações/estilização de outras tags e elementos*/
center.pageTitle{
    /*Posicionando no meio do header*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

font.pageTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.footer-block{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.footer-side{
    width: 25%;
    height: 100%;
    justify-content: center;
}

div.footer-center{
    width: 50%;
    height: 100%;
    position: relative;
}

font.footer-center{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: white;
}

.footer-center .left{
    position: absolute;
    left: 0;
    margin-left: 35%;
}

.footer-center .right{
    position: absolute;
    right: 0;
    margin-right: 10%;
}

ul.footer-ul{
	float: left;
	width: 100%;
	list-style:none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li.footer-li{
    display: inline;
}

ul.footer-ul li a{
	color: white;
	text-decoration: none;
	padding: 2px 25px;
	float:left;
}

ul.footer-ul li a:hover{
    background-color:rgba(255, 255, 255, 0.8);
}

/******************************************************************
Configurações do área de páginas com grandes textos de informações
******************************************************************/
div.informationArea{
    width: 45%;
    height: 90%;
    background-color: white;
}

div.information-textBlock{
    width: 90%;
    height: 97%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

div.hide-iframeScrollBar{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe.information-row{
    display: block;
    border: none;
    width: calc(100% + 17px);
    height: 100%;
}