main#Sobre{
    width: 100%;
    height: auto;
    float: left;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informationArea-sobre{
    width: 90%;
    height: 100%;
    background-color: white;
}

div.content-block{
    width: 100%;
    height: 750px;
}

.first-block{
    background-color: white;
}

div.firstBlock-mainTopic-text{
    margin-left: 50px;
    float: left;
}

img.firstBlock-image{
    width: 800px;
    heihgt: 800px;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.second-block{
    background-color: black;
}